%section#content
	%section#options
		#filters.option-set{"data-option-key".to_sym => "filter"}
			%a.little_mt.btn{href: "#filter", "data-option-value".to_sym => "*"} all
			- categories.each do |cat|
				%a.little_mt.btn{href: "##{cat}", "data-option-value".to_sym => ".#{cat}"} #{cat}
			%a.little_mt.btn{href: "#eventful", "data-option-value".to_sym => ".eventful"} eventful

	.loading
		#circularG
			#circularG_1.circularG
			#circularG_2.circularG
			#circularG_3.circularG
			#circularG_4.circularG
			#circularG_5.circularG
			#circularG_6.circularG
			#circularG_7.circularG
			#circularG_8.circularG
	.mid_mt#isotope-container

%script{ :type => "text/javascript", :src =>"/js/jquery.isotope.min.js"}
%script{ :type => "text/javascript", :src =>"/js/user.dash.js"}


:javascript
	$(function() {
		var $container = $('#isotope-container');
		var newElements = "";
		$.ajax({
			type: "POST",
			url: "/api/user/stream",
			data: {user_id: "#{@user.id}",
				   user_salt: "#{@user.salt}"}
		}).done(function( response ) {
			$container.isotope({
				itemSelector : '.element'
			});
			var html = $('<div>').html(response);
			// hide the loading div
			$('.loading').hide();
			// add the new elements to the isotope container
			$container.isotope('insert', html);
			// add the click handlers for the new elements
			$('.google-event-btn').click(function(e) {
				console.log("sync event")
				var event_id = $(this).parent().parent().parent().parent().parent().parent().attr('data-symbol');
				console.log(event_id);
				e.preventDefault();
				$.ajax({
					type: "POST",
					url: "/api/sync/toggle_event",
					data: {event_id: event_id}
				}).done(function(response){
						console.log(response);
						var div_id_name = '#google-btn-' + event_id;
						if (response == "synched") {
							$(div_id_name).addClass("synched-btn-decoration");
						} else {
							$(div_id_name).removeClass("synched-btn-decoration");
						}
					if ($.browser.mozilla) {
						$('.element > img').addClass("moz-tile-img");
					}
				});
			});

			$('.element').click(function(e) {
				if ($(e.target).hasClass('event-load-btn')) {
				} else if ($(e.target).hasClass('google-event-btn')) {
				} else {
					$(this).toggleClass('large');
					$container.isotope('reLayout');
				}
			});
		});
	});

	// $(function() {
	// 	var loop = true;
	// 	var $container = $('#isotope-container');
	// 	function doStuff() {
	// 		if (loop) {
	// 			var now = Date();
	// 			$.ajax({
	// 				type: "POST",
	// 				url: "/api/user/stream/update",
	// 				data: {user_id: "#{@user.id}",
	// 						   user_salt: "#{@user.salt}",
	// 						   time: now,
	// 						   range: "0 10"}
	// 			}).done(function (response) {
	// 				if (response.length > 0) {
	// 					var html = $('<div>').html(response);
	// 					// add the new elements to the isotope container
	// 					$container.prepend(html).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });
	// 					// add the click handlers for the new elements
	// 					$('.element').click(function(e) {
	// 						if ($(e.target).hasClass('event-load-btn')) {
	// 						} else {
	// 							$(this).toggleClass('large');
	// 							$container.isotope('reLayout');
	// 						}
	// 					});
	// 				}
	// 				if ($.browser.mozilla) {
	// 					$('.element > img').addClass("moz-tile-img");
	// 				}
	// 			});
	// 			setTimeout(doStuff, 10000);
	// 		}
	// 	};
	// 	doStuff();
	// });
