.span9
	%h3= title
	.row
		%table.table.table-condensed.table-hover
			%thead
				%tr
					%th
					%th
						%p= "User"
					%th
						%p= "email"
					%th
						%p= "id"

			%tbody
				- users.each do |u|
					%tr
						%td
						%td
							%a= u.user_name
						%td
							%a= u.email
						%td
							%a= u.id
