.span9
	%h3
		Inbox
	.row	
		%table.table.table-condensed.table-hover
			%thead
				%tr
					%th
						%input{type: :checkbox}
					%th
						%p= "From"
					%th
					%th
						%p= "Subject"
					%th
						%p= "Date"

			%tbody
				- user.r_messages.all(order: [:id.desc]).each do |msg|
					%tr
						%td
							%input{type: :checkbox}
								%a{href: "#", id: "message_start_id_#{msg.id}"}
									- if msg.star
										%i.icon-star
									- else
										%i.icon-star-empty
						%td
							%a{href: "/user/#{msg.source}/dashboard"}= msg.source
						%td
							-if msg.new_message
								%span.label.label-success= "new"
							-else
								%span.label= "old"
						%td
							%a{href: "./rmessage/#{msg.id}"}= msg.subject
						%td= msg.created_at.strftime("%m/%d/%Y")
	.row
		%a.btn.btn-primary{href: "/user/#{user.user_name}/message/create"}= "create"
	%hr
	.row
		%h3
			Sent
		%table.table.table-condensed.table-hover
			%thead
				%tr
					%th
						%input{type: :checkbox}
					%th
						%p= "From"
					%th
					%th
						%p= "Subject"
					%th
						%p= "Date"

			%tbody
				- user.s_messages.all(order: [:id.desc]).each do |msg|
					%tr
						%td
							%input{type: :checkbox}
								%a{href: "#"}
								- if msg.star
									%i.icon-star
								- else
									%i.icon-star-empty
						%td
							%a{href: "./smessage/#{msg.id}"}= msg.target
						%td
							-if msg.sent
								%span.label.label-info= "sent"
							-else
								%span.label.label-warning= "not sent"
						%td
							%a{href: "./smessage/#{msg.id}"}= msg.subject
						%td= msg.created_at.strftime("%m/%d/%Y")
