.span9
	%h2
		Inbox
	.row
		%table.table.table-condensed.table-hover
			%thead
				%tr
					%th
						%input{type: :checkbox}
					%th
						%p= "Subject"
					%th
					%th
						%p= "Date"
					%th
						%p= "From"

			%tbody
				- user.r_messages.all(order: [:id.desc]).each do |msg|
					%tr
						%td
							%input{type: :checkbox}
								%a{href: "#", id: "message_start_id_#{msg.id}"}
									- if msg.star
										%i.icon-star.rmsg-star{id: "msg-#{msg.id}-star"}
									- else
										%i.icon-star-empty.rmsg-star{id: "msg-#{msg.id}-star"}
						%td
							%a{href: "./rmessage/#{msg.id}"}= msg.subject
						%td
							-if msg.new_message
								%span.label.label-success= "new"
							-else
								%span.label= "old"
						%td= msg.created_at.strftime("%m/%d/%Y")
						%td
							%a{href: "./rmessage/#{msg.id}"}= msg.source
	.row
		%a.btn.btn-primary{href: "/user/#{user.user_name}/message/create"}= "create"
	%hr
	%br
	%br
	%h2
		Sent
	.row
		%table.table.table-condensed.table-hover
			%thead
				%tr
					%th
						%input{type: :checkbox}
					%th
						%p= "Subject"
					%th
					%th
						%p= "Date"
					%th
						%p= "To"

			%tbody
				- user.s_messages.all(order: [:id.desc]).each do |msg|
					%tr
						%td
							%input{type: :checkbox}
								%a{href: "#"}
									- if msg.star
										%i.icon-star.smsg-star{id: "msg-#{msg.id}-star"}
									- else
									%i.icon-star-empty.smsg-star{id: "msg-#{msg.id}-star"}
						%td
							%a{href: "./smessage/#{msg.id}"}= msg.subject
						%td
							-if msg.sent
								%span.label.label-info= "sent"
							-else
								%span.label.label-warning= "not sent"
						%td= msg.created_at.strftime("%m/%d/%Y")
						%td
							%a{href: "./smessage/#{msg.id}"}= msg.target
:javascript
	$('.rmsg-star').click(function(e) {
		var obj = event.target;
		var idName = $(obj).attr('id').split('-')[1];
		$.ajax({
			type: "POST",
			url: "/api/user/rmessage/star",
			data: { msg_id: idName }
		}).done(function( msg ) {
			if (msg == "true") {
				$(obj).removeClass('icon-star-empty');
				$(obj).addClass('icon-star');
			} else {
				$(obj).removeClass('icon-star');
				$(obj).addClass('icon-star-empty');
			}
		});
	});

	$('.smsg-star').click(function(e) {
		var obj = event.target;
		var idName = $(obj).attr('id').split('-')[1];
		$.ajax({
			type: "POST",
			url: "/api/user/smessage/star",
			data: { msg_id: idName }
		}).done(function( msg ) {
			if (msg == "true") {
				$(obj).removeClass('icon-star-empty');
				$(obj).addClass('icon-star');
			} else {
				$(obj).removeClass('icon-star');
				$(obj).addClass('icon-star-empty');
			}
		});
	});
