// Admin dashboard

%section
	.page-header
		-unless admin == nil?
			.page-header
				%h1="Admin Dashboard"  
			%h3= "Admin"
		-else
			redirect '/'
	
%section
	%h1= "Users"
	.accordion{id: "userEventAccordion"}
		-users.each_with_index do |user, i|
			.accordion-group
				.accordion-heading
					%a.accordion-toggle{"data-toggle".to_sym => "collapse", href: "#userEventAccordionBody#{i}", "data-parent".to_sym => "#userEventAccordion"}= user.user_name
				.accordion-body.collapse{id: "userEventAccordionBody#{i}"}
					.accordion-inner
						%article
							-user.events.each do |event|
								%section
									%row
										%h1= event.title
										%p= event.body
										.section{id: "comments-#{i}"}
											%hr
											%h4= "comments"
											%article
											-event.metadata.tumbler.comments.each_with_index do |comment, n|
												.section.well
													%small= comment.created_at
													%br
													%br
													%p= comment.body
													%br
													%p.pull-right= comment.posted_by
													%br

								.row-fluid
									%a.btn.btn-small{href: "#"}	
										%i.icon-trash
									%a.btn.btn-small{href: "#"}	
										%i.icon-flag
									%hr

	
%section{styles: "word-wrap: break-word;"}
	%h1= "API Keys"
	%a.btn.btn-primary{href: "/api-key"}= "Create API Key"
	%br
	%br
	.accordion{id: "apiAccordion"}
		-api_keys.each_with_index do |key, i|
			.accordion-group
				.accordion-heading
					%a.accordion-toggle{"data-toggle".to_sym => "collapse", href: "#apiAccordionCollapse#{i}", "data-parent".to_sym => "#apiAccordion"}= key.email
				.accordion-body.collapse{id: "apiAccordionCollapse#{i}"}
					.accordion-inner
						%spane.label.label-info= key.api_key

%br
%br
%br
%br
%br
%br
%br
