%div{class: "element #{map[:category]}", id: "element-#{map[:id]}", "data-symbol".to_sym => "#{map[:id]}", "data-category".to_sym => "#{map[:category]}", rel: "tooltip", "data-original-title".to_sym => "#{map[:user_name]}"}
	.container
		.marketing
			- if map.has_key? :img_url
				%img{src: "#{map[:img_url]}"}
			.row
				%h1.window-pane= map[:title]
			.row
				%h3.name= map[:category]
				%p.event-date= map[:event_time].strftime("%m/%d/%Y")
				%p.user_name= map[:user_name]
			.row
				%p.comment-count= "#{map[:tumbler].comments.count}"
			.row-fluid.window-pane-buttons
				#event-btns.btn-group
					%span.open-event-btn{href: ""}
						%a.btn.btn-small{href: "/user/#{map[:user_name]}/event/#{map[:id]}"}
							%i.icon-picture
	/ - if true
	/ 	.event-notifier-badge
	/ 		.event-notifier-value{class: "#{get_event_value_class(map[:event])}"}= comment_count(map[:event])