%section
	.page-header
		-unless user == nil?
			.page-header
				%h1="Dashboard"  
			%br
			-unless user.img_url == nil? || user.img_url.to_s.length < 1
				%image{width: 30, height: 30, src: "/images/" << user.user_name.to_s << "/" << user.img_url.to_s}
			-else
				%image{width: 30, height: 30, src: "/images/missing_avatar_small.png"}
			%h3= user.user_name.to_s
		-else
			redirect '/'
		%small
			%a{href: "/user/" << user.user_name.to_s << "/profile"} profile
%section
	.row
		%a.btn{href: "./create-event"}
			Create an event

-num_events = 0
-user.events.each do |event|
	-num_events++
	%section.bs-docs-example
		.row
			.span9
				.row
					%h3= event.title
					%h4= "map_canvas_#{event.id}"
					%p= "#{event.locations.first.geo_location}"
				.row
					/ :javascript
					/ 	function initialize() {
					/ 		var geocoder;
					/ 		var map;
	
					/ 		geocoder = new google.maps.Geocoder();
					/ 		var latlng = new google.maps.LatLng(-34.397, 150.644);
					/ 		var mapOptions = {
					/ 		  zoom: 8,
					/ 		  center: latlng,
					/ 		  mapTypeId: google.maps.MapTypeId.ROADMAP
					/ 		}
					/ 		map = new google.maps.Map(document.getElementById("map_canvas_#{event.id}"), mapOptions);

					/ 		var address = #{event.locations.first.geo_location}
							
					/ 		geocoder.geocode( { 'address': address}, function(results, status) {
					/ 		  if (status == google.maps.GeocoderStatus.OK) {
					/ 		    map.setCenter(results[0].geometry.location);
					/ 		    var marker = new google.maps.Marker({
					/ 		        map: map,
					/ 		        position: results[0].geometry.location
					/ 		    });
					/ 		  } else {
					/ 		    alert('Geocode was not successful for the following reason: ' + status);
					/ 		  }
					/ 		});
					/ 	}
					/ %div.map_canvas{id: "map_canvas_#{event.id}"}
				.row
					%p= event.body
