.container
	.span9
		.row
			%small= msg.created_at
			%h2= msg.subject
			%h4= msg.source
		%hr
		.row
			%p= msg.body
		.row.reply-message
			#{partial :'message/create_message', {user: @user, subject: "#{msg.subject}", source: "#{msg.source}", msg_id: "#{msg.id}"}}
		.row
			.btn-group
				%a#add-reply.btn.btn-small
					%i.icon-pencil
					reply


:javascript
	$('#add-reply').click(function () {
		$('.reply-message').toggle();
		$('#add-reply').toggle();
	});