.span9
	.row
		.marketing
			.row
				%h1= event.title
				%p= event.video_url
			.row
				- unless event.img_url.nil?
					%img{src: event.img_url}
			.row
				<iframe width="420" height="315" src="http://www.youtube.com/embed/qQ-M9c2nQ34" frameborder="0" allowfullscreen></iframe>
			.row
				%p
					Category:
					%strong
						#{event.category.name}
			.row
				%p= event.event_date.strftime("%m/%d/%Y")
			.row
				%p= event.body
	.row#follow-tray
		-if current_user.following?(event.user)
			%p.btn.btn-primary.following-btn= "Following #{event.user.user_name}"
		-else
			%a.btn.btn-warning.follow-btn{id: "followed-user-#{event.user.user_name}-#{event.user.id}"}= "Follow #{event.user.user_name}"
	.row
		%h4= "comments"
		%hr
	-event.tumbler.comments.each_with_index do |comment, n|
		.row{class: "C#{comment.id}"}
			%small.pull-left= comment.created_at
			%br
			%br
			%p= comment.body
			%small
				%p.pull-right= comment.posted_by
			%br
			%hr
	.row
		#{partial :'event/comment', {event_id: event.id.to_s, user_name: event.user.user_name}}


:javascript
	$('#add-reply').click(function (e) {
		$('.reply-message').toggle();
		$('#add-reply').toggle();
	});

	$('.follow-btn').click(function(e) {
		var obj = event.target;
		var followed_user_id = $(obj).attr('id').split('-')[3];
		var followed_username = $(obj).attr('id').split('-')[2];
		$.ajax({
			type: "POST",
			url: '/api/update/user/follow',
			data: { followed_id: followed_user_id,
							follower_id: "#{current_user.id}" }
		}).done(function( msg ) {
			if (msg == "true") {
				$('.follow-btn').remove()
				$('#follow-tray').prepend("<div class='alert alert-success unfollow-success-msg'> <button type='button' class='close' data-dismiss='alert'>×</button> Successfully following <b>" + followed_username + "</b></div>")
				$('#follow-tray').append("<p class='btn btn-primary following-btn'>Following <b>#{event.user.user_name}</b></p>")
			} else {
				console.log("failed to follow user")
			}
		});
	});
